.box {
    height: 100px;
    position: relative;
    width: 100px;
  }
  
  .box .group {
    background-color: #d9d9d9;
    height: 100px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100px;
  }
  
  .box .ellipse {
    background-color: #e91b1b;
    border-radius: 25.51px/20.89px;
    height: 42px;
    left: 6px;
    position: absolute;
    top: 5px;
    width: 51px;
  }
  
  .box .star {
    height: 48px;
    left: 46px;
    position: absolute;
    top: 46px;
    width: 48px;
  }
  